body{
  margin: 0;
  padding: 0;
  padding-top: 80px;
  padding-left: 100px;
  padding-right: 24px;
  box-sizing: border-box;
  background-color: rgba(227, 227, 227, 0.175);
}

p{
  font-family: Roboto, arial;
  margin-top: 0;
  margin-bottom: 0;
}